body {
    margin: 0;
    overflow: hidden;
    background-color: #f0f8ff;
}

#gameArea {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('background.png');
    background-size: cover;
}

.chicken {
    position: absolute;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: left 2s ease-in-out, top 2s ease-in-out; /* Smooth sliding transition */
}


.chicken.clicked {
    transform: scale(1.5) rotate(20deg);
    opacity: 0.5;
}

#scoreBoard {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: #333;
}

#timer {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #333;
}

#gameOverMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: #ff0000;
    text-align: center;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}
